body {
    background-color: #666666;
    color: #ffffff;
    font-family: arial, sans-serif;
    line-height: 1.4em;
}

a {
    color: #ffffff;
    text-decoration: none;
}

ul {
    padding: 0;
}

.container {
    background-color: #333333;
    width: 960px;
    margin: 30px auto;
    overflow: hidden;
    padding: 10px;
}

nav {
    height: 40px;
    background-color: #666666;
}

nav ul {
    padding: 13px 10px;
}

nav li {
    list-style: none;
    float: left;
    padding-right: 20px;
}

nav .active {
    font-weight: bold;
    color: #111111;
}

.main {
    float: left;
    width: 60%;
}

.services li {
    border-bottom: 2px #666666 dashed;
    padding-bottom: 20px;
    list-style: none;
}

.services a {
    background-color: #666666;
    padding: 10px;
}

aside {
    float: right;
    width: 30%;
    background-color: #666666;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

footer {
    clear: both;
    text-align: center;
    padding: 10px;
    background-color: #666666;
    margin-top: 30px;
}

input, textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
}